body {
    min-height: 100vh;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: rgb(49, 202, 82);
    border-radius: 20px;
}

.duck-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.duck-container img {
    max-height: 380px;
    max-width: 100%;
}

#duckButton {
    transition: transform 0.2s;
}

#duckButton:hover {
    transform: scale(1.05);
}
