* {
  background-color: #800404;
    box-sizing: border-box;
    color: rgb(247, 166, 179);
  }
  
  .myflexboxRow {
    display: flex;
    flex-wrap: wrap;
  }
  
  .myflexboxColumn {
    flex: 33%;
    padding: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
  }
